body {
    margin: 0;
    background-color: silver;
}

header {
    position: relative;
    padding-left: 100px;
}

nav {
    position: absolute;
    top: 0;
    right: 110px;
}

.lists {
    display: flex;
    color: crimson;
    list-style-type: none;
    text-align: center;       
}

.list {
    color: crimson;
    padding-right: 56px;
    font-weight: bold;
    font-size: 20px;
}

introductions {
    color: red;
    padding-top: 100px;
    padding-left: 100px;
}

.introduction {
    display:flex;
}

.taikis {
    padding-left: 50px;
    text-align: left;
}
.img {
    width: 300px;
}

.text {
    width: 100%;
}

.media{
    text-align: center;
    padding-top: 100px;
}

.footer {
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
}


.img2 {
    padding-top: 50px;
    padding-left: 300px;
}